{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles/style_sobre/sobre.css' %}" />
    <title>Sobre nós</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <img src="{% static 'media/logo_lobo.png' %}" alt="Logo" />
            <ul class="menu">
                <li>{# <a href="{% url 'contato' %}">Fale Conosco</a> #}</li>
                <li><a href="{% url 'executivo' %}">Cardápio</a></li>
                <li><a href="{% url 'equipe' %}">Home</a></li>
                <li><a href="{% url 'feedbacks' %}">Sobre nós</a></li>
                <li><a href="{% url 'promocoes' %}">Promoções e eventos</a></li>
            </ul>
            <a class="btn-inscrever" href="#">RESERVAR AGORA</a>  
            <button id="mobile_btn"><i class="fa-solid fa-bars"></i></button>  
        </nav>
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li>{# <a href="{% url 'contato' %}">Fale Conosco</a> #}</li>
                <li><a href="{% url 'executivo' %}">Cardápio</a></li>
                <li><a href="{% url 'equipe' %}">Home</a></li>
                <li><a href="{% url 'feedbacks' %}">Sobre nós</a></li>
                <li><a href="{% url 'promocoes' %}">Promoções e eventos</a></li>
            </ul>
            <a class="btn-inscrever" href="#">RESERVAR AGORA</a> 
        </div>
    </header>

    <div class="spacing"></div>

    <section class="main-bg">
        <div class="main-container">
            <div class="intro">
                <div class="intro-h1">
                    <h1>Nossa História</h1>
                </div>
                <div class="intro-text">
                    <div class="history">
                        <p>O restaurante de Benjamin Matos nasceu do sonho de transformar a paixão pela culinária em experiências únicas. Inspirado pelas receitas de família e pela tradição de reunir pessoas à mesa, Benjamin uniu ingredientes frescos e técnicas modernas para criar um espaço acolhedor. Hoje, seguimos celebrando a boa comida e a hospitalidade, fazendo de cada visita um momento especial.</p>
                        <div class="btn-reservar">
                            <a href="#">FAÇA SUA RESERVA</a>
                        </div>
                    </div>
                    <div class="intro-img">
                        <img src="{% static 'media/image_13.png' %}" alt="Imagem do Restaurante" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="main-container text-h2">
            <h2>Diferenciais da casa</h2>
            <div class="grid grid-3">
                <div class="diferencial-item">
                    <div class="icon-bg">
                        <img class="diferencial-icon" src="{% static 'media/folha.png' %}" alt="Ícone folha" />
                    </div>
                    <h3>Ingredientes frescos</h3>
                </div>

                <div class="diferencial-item">
                    <div class="icon-bg">
                        <img class="diferencial-icon" src="{% static 'media/tampa.png' %}" alt="Ícone tampa" />
                    </div>
                    <h3>Atendimento personalizado</h3>
                </div>

                <div class="diferencial-item">
                    <div class="icon-bg">
                        <img class="diferencial-icon" src="{% static 'media/casa.png' %}" alt="Ícone casa" />
                    </div>
                    <h3>Ambiente aconchegante</h3>
                </div>
            </div>
        </div>
    </section>

    <div class="spacing"></div>

    <section>
        <div class="main-container text-h2">
            <h2>Feedback de clientes</h2>
            <div class="container-sec">
                <div class="fb-grid grid-3">
                    {% for fb in feedbacks %}
                        <div class="fb-card">
                            {% if fb.foto %}
                                <img src="{{ fb.foto.url }}" alt="Foto de {{ fb.nome }}" />
                            {% else %}
                                <img src="{% static 'media/default_user.png' %}" alt="Sem foto" />
                            {% endif %}
                            <div class="stars">
                                <img src="{% static 'media/estrela.png' %}" alt="Estrela" />
                                <img src="{% static 'media/estrela.png' %}" alt="Estrela" />
                                <img src="{% static 'media/estrela.png' %}" alt="Estrela" />
                                <img src="{% static 'media/estrela.png' %}" alt="Estrela" />
                                <img src="{% static 'media/estrela.png' %}" alt="Estrela" />
                            </div>
                            <p class="fb-text">{{ fb.descricao }}</p>
                            <h4 class="fb-name">{{ fb.nome }}</h4>
                        </div>
                    {% empty %}
                        <p>Não há feedbacks disponíveis.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>
